In [1]:
import pandas as pd

In [2]:
student_marks= [['Name',   ['A','B','C','D','E']],
               ['Ankit',   [41, 34, 45, 55, 63]],
               ['Aravind', [42, 23, 34, 44, 53]],
               ['Lakshay', [32, 23, 13, 54, 67]],
               ['Gyan',    [23, 82, 23, 63, 34]],
               ['Pranav',  [21, 23, 25, 56, 56]],
              ]

# Who scored the highest marks in the subject B?

In [3]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name,marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [4]:
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [5]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [6]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [7]:
sorted(student_with_marks_in_B, reverse=True)[0][1]

'Gyan'

# What is the average marks scored in the subject C?

In [8]:
for student in student_marks[1:]:
    name = student[0]
    mark_in_C = student[1][2]
    
    print(name,mark_in_C)

Ankit 45
Aravind 34
Lakshay 13
Gyan 23
Pranav 25

In [9]:
total_mark_in_C = []

for student in student_marks[1:]:
    marks_in_C = student[1][2]
    
    total_mark_in_C.append(marks_in_C)

In [10]:
total_mark_in_C

[45, 34, 13, 23, 25]

In [11]:
average_marks_in_C = sum(total_mark_in_C) / len(total_mark_in_C)
print("The average marks scored in subject C is:",average_marks_in_C)

The average marks scored in subject C is: 28.0

# Who scored the highest percentage of marks?

In [12]:
student_percentages = []
for student_data in student_marks[1:]:
    name = student_data[0]
    marks = student_data[1]
    total_marks = sum(marks)
    percentage = (total_marks / (len(marks)*100))*100
    student_percentages.append((name, percentage))

In [13]:
student_percentages

[('Ankit', 47.599999999999994),
 ('Aravind', 39.2),
 ('Lakshay', 37.8),
 ('Gyan', 45.0),
 ('Pranav', 36.199999999999996)]

In [14]:
student_percentages.sort(key=lambda x: x[1], reverse=True)

In [15]:
highest_percentage_student = student_percentages[0]

In [16]:
print("The highest percentage of marks is", highest_percentage_student[0], "with", highest_percentage_student[1])

The highest percentage of marks is Ankit with 47.599999999999994

# If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?

In [17]:
student_percentages = []
for student_data in student_marks[1:]:
    name = student_data[0]
    marks = sorted(student_data[1], reverse=True)[:4]  
    total_marks = sum(marks)
    percentage = (total_marks / (len(marks)*100)) * 100
    student_percentages.append((name, percentage))

In [18]:
student_percentages.sort(key=lambda x: x[1], reverse=True)

In [19]:
highest_percentage_student = student_percentages[0]

In [20]:
print("The student with the highest percentage of marks WITH top 4 subject is", highest_percentage_student[0], "with", highest_percentage_student[1])

The student with the highest percentage of marks WITH top 4 subject is Ankit with 51.0